<section class="sectionHedin">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="lineupHedin">
          <h1>Foul Balls</h1>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="soundcloud-player" class="sectionHedin">
  <div>
    <h3>
      Bringing you daily advice for creating Daily Fantasy Sports lineups!
    </h3>

    <iframe
      width="100%"
      height="600"
      scrolling="no"
      frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/308749747&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
    >
    </iframe>
  </div>
</section>
