<footer>
  <div class="topFooter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 topFooterWrapper">
          <h1 class="footerHdin">About Us</h1>
          <a href="#" class="logoWrapper"><img src="../../../../assets/images/logo.png" alt="LOGO"
                                               style="margin: 0"
                                               class="img-responsive"/></a>
          <p class="footerPara">RotoPros.com is a daily fantasy sports analytics platform that offers the best tools in the industry. RotoPros offers lineup optimizers, projections, daily sports content, podcasts, tools, and many premium features.</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-lg-offset-1">
          <!--<h1 class="footerHdin">Links</h1>-->
          <!--<ul class="footerLinks">-->
            <!--<li><a href="#">Getting Started</a></li>-->
            <!--<li><a href="#">Free Content</a></li>-->
            <!--<li><a href="#">Member Content</a></li>-->
            <!--<li><a href="#">Apparel</a></li>-->
          <!--</ul>-->
        </div>
        <!--<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">-->
          <!--<h1 class="footerHdin">Follow Us on :</h1>-->
          <!--<ul class="footerSocialLinks">-->
            <!--<li><a href="#"><img src="../../../../assets/images/footer_twitter_icn.png" alt="" class="img-responsive"/></a>-->
            <!--</li>-->
            <!--<li><a href="#"><img src="../../../../assets/images/footer_facebook_icn.png" alt="" class="img-responsive"/></a>-->
            <!--</li>-->
            <!--<li><a href="#"><img src="../../../../assets/images/footer_insta_icn.png" alt=""-->
                                 <!--class="img-responsive"/></a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <h1 class="footerHdin">Follow Us on :</h1>
          <ul class="footerSocialLinks">
            <li><a href="https://www.facebook.com/RotoPros/" target="_blank"><img src="../../../../assets/images/footer_facebook_icn.svg" alt="" class="img-responsive"/></a></li>
            <li><a href="https://twitter.com/RotoProsDFS" target="_blank"><img src="../../../../assets/images/footer_twitter_icn.png" alt="" class="img-responsive"/></a></li>
            <li><a href="https://www.instagram.com/dfsrotopros/" target="_blank"><img src="../../../../assets/images/footer_insta_icn.png" alt="" class="img-responsive"/></a></li>
            <li><a href="mailto:support@rotopros.com"><img src="../../../../assets/images/footer_email_icn.png" alt="" class="img-responsive"/></a></li>


            <!-- <li><a href="https://www.facebook.com/RotoPros/" target="_blank"><img src="../../../../assets/images/footer_email_icn.png" alt="" class="img-responsive"/></a>
            </li>
            <li><a href="https://twitter.com/RotoProsDFS" target="_blank"><img src="../../../../assets/images/footer_twitter_icn.png" alt="" class="img-responsive"/></a>
            </li>
            <li><a href="https://www.instagram.com/dfsrotopros/" target="_blank"><img src="../../../../assets/images/footer_insta_icn.png" alt="" class="img-responsive"/></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bottomFooter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bottomFooterLft">
          <p>Copyright © 2017, RotoPros. All Rights Reserved.</p>
        </div>
        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bottomFooterRght">
          <p>Web Site Designed & Developed by <a href="http://www.flexsin.com/">Flexsin</a> </p>
        </div>-->
      </div>
    </div>
  </div>

</footer>
