<!-- Banner Section Starts-->
<section class="mlbBannerSection">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mlbBannerHedin">
          <h1><span class="mlbBannerBig">NFL</span><span>Excel Optimizer</span></h1>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Banner Section Ends -->

<section class="mlbTopSection">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mlbTopSectionWrap">
          <div class="mlbTopLft">
            <img src="../../../../assets/images/tool_nfl_logo.JPG" alt="" />
            <div class="mlbTopLftTxt">
              <h2 class="mlbTopLftHedin">The NFL Excel Optimizer : </h2>
              <p class="mlbTopLftPara">Pc Only. Does Not Work on a Mac</p>
            </div>

          </div>
          <div class="mlbTopRght">
            <a target="_blank" href="https://api.dfsportgod.com/uploads/excel_tool.exe" class="dwnldBtn">Download</a>
            <!--<button type="button" class="dwnldBtn">Download</button>-->
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section class="mlbInfoSection">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mlbInfoWrap">
          <div class="mlbInfoTp">
            <h3 class="mlbInfoTpHedin">Please Note</h3>
            <p class="mlbInfoTpPara"><sup>"</sup>This version of the NFL Excel Optimizer only works on a PC (Windows, Ubuntu, Linux). The mac version will be coming soon.<sup>"</sup> </p>
          </div>
          <div class="mlbInfoMid">
            <div class="mlbInfoMidLft">
              <h4 class="mlbInfoMidHedin"><span class="icnWrapperS"><img src="../../../../assets/images/installation_icn.png" alt="" class="img-responsive"></span>Installation </h4>
              <ul class="mlbInfoLst">
                <li><span>1</span>Click the Download Button above and install the RotoPros NFL Optimizer. You must have the PC version of Microsoft Excel installed on your computer.</li>
                <li><span>2</span>Click on the verification email and set your password.</li>
              </ul>
            </div>
            <div class="mlbInfoMidRght">
              <h4 class="mlbInfoMidHedin"><span class="icnWrapperS"><img src="../../../../assets/images/exOptimizer_icn.png" alt="" class="img-responsive"></span>Using the Excel Optimizer</h4>
              <ul class="mlbInfoLst">
                <li><span>1</span>Select "Get Started" on the main page</li>
                <li><span>2</span>Enter your email you used when you signed up</li>
              </ul>
            </div>
          </div>
          <div class="mlbInfoBot">
            <p>To pull all data needed for algorithm click Refresh Todays Data. After all data is downloaded, you can filter players which you would like to use based on team or injury status. To exclude players from some team select No in Include column. To eliminate players which have injury tag, set Eliminate injury level field to the level of injury which is not acceptable for your players to be in a lineups. Available injury levels are: Out, Doubtful, Questionable and Probable respectively So, if you select Doubtful level all players which have injury tag Out and Doubtful level will be removed.</p>

            <p>Now, after you set filters for players, click on Transfer Players button to move all players to sheets for player analysis and lineups generating.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section class="mlbDescSection">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mlbDescSectionWrap">
          <div class="mlbDescItm">
            <img src="../../../../assets/images/tool_fd_analysis.JPG"  alt="" class="img-responsive mlbDescImg">
            <div class="mlbDescItmTp">
              <a href="javascript:void(0)" class="mlbDescHedin">FanDual Analysis Sheet</a>
              <p class="mlbDescPara">Based on a bat hand and pitcher throw hand stats, projection and salary we generate sheet where you can see all important stats for batter vs pitcher. Color coding is making easier to notice good and bad matchups for players:</p>
            </div>

          </div>

          <div class="mlbDescItm">
            <img src="../../../../assets/images/tool_dk_analysis.JPG"  alt="" class="img-responsive mlbDescImg">
            <div class="mlbDescItmTp">
              <a href="javascript:void(0)" class="mlbDescHedin">DraftKing Analysis Sheet</a>
              <p class="mlbDescPara">Similar to Batter analysis sheet we are offering matchup analysis for pitchers. Opponent batter stats are batting stats of opponent team:</p>
            </div>


          </div>
          <div class="mlbDescItm mlbDescItm2">
            <img src="../../../../assets/images/tool_dk_optimizer.JPG"  alt="" class="img-responsive mlbDescImg">
            <div class="mlbDescItmTp">
              <a href="javascript:void(0)" class="mlbDescHedin">Multi Lineups Sheet</a>
              <p class="mlbDescPara">This is the sheet where you can generate your lineups. On this sheet you can set few options:</p>
              <ul class="mlbDescLst">
                <li>Number of lineups to generate</li>
                <li>The variance between lineups  the higher the value you set the higher variance the lineups will be. If you set variance to 0 you will get lineup with a lot of overlapping players, but they will still be different</li>
                <li>Force/Exclude players  force player you want in every lineup, or exclude player which you do not want in your lineups</li>
                <li>Stack players for some team  set team from which you want to stack players. Also, you should set number of players which should be taken for stacking from that team.</li>
              </ul>
            </div>


          </div>
          <div class="mlbDescItm mlbDescItm2">
            <img src="../../../../assets/images/tool_fd_lineups.JPG"  alt="" class="img-responsive mlbDescImg">
            <div class="mlbDescItmTp">
              <a href="javascript:void(0)" class="mlbDescHedin">Fanduel/Drafktings Lineups Sheets</a>
              <p class="mlbDescPara">In these sheets you will get your generated lineups. You will notice that cell for player name is colored in some color, it means that player has some injury status assigned.</p>
              <p class="mlbDescPara">Also, if you want to export your lineups you can click on Export to csv and lineups will be exported in same folder as NFL_SpreadsheetTool_2017.xlsam.</p>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</section>
