<!-- Banner Section Starts-->
<section class="bowerBannerSection1">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="bowerBannerHedin">
          <h1><span class="bowerBannerBig">DraftKings & FanDuel Chrome Extension</span><span>Try it risk-free for 7 days!</span></h1>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Banner Section Ends -->

<section class="bowerSection1">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="bowerHedin">
          The RotoPros DraftKings & FanDuel Google Chrome Extension
        </h1>
        <p class="bowerSecHedin">DOWNLOAD THE ROTOPROS EXTENSION FOR GOOGLE CHROME</p>

        <a target="_blank" (click)="onChromeExtensionDownloadBtnClick()" href="https://chrome.google.com/webstore/detail/draftkingsfanduel-tools/oiimipecejocdcbiedlbabkgmldkjhma" class="bowerDwnBtn">Download</a>
      </div>
    </div>
  </div>
</section>

<section class="bowerSection2">
  <div class="bowerSection2Tp">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bowerSection2Lft">
            <img src="../../../../assets/images/extension.jpg" alt="" class="img-responsive">
          </div>
          <div class="bowerSection2Rght">
            <p class="bowerPara">The RotoPros have created a game changing Google Chrome extension that seamlessly integrates with your Google Chrome Browser. Simply click the link below to visit the Chrome Web Store to install the extension.</p>

            <p class="bowerPara">When you sign-in to your DraftKings account, log-in to the yellow menu on the left and gain access to The Gods Google Chrome features that are perfectly in sync automatically with your DraftKings account.</p>

          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<section class="bowerSection3">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p class="bowerHedin">DOWNLOAD THE ROTOPROS EXTENSION FOR GOOGLE CHROME :</p>

        <ul>
          <li><span>Built-in Bankroll Management - </span>enter your bankroll and we recommend insights in the most favorable games</li>
          <li><span>Winning Probability - </span>we highlight games where the odds are stacked in your favor</li>
          <li><span>The Sharks Can't Hide - </span>we identify the alert you to games where the sharks are playing, we breakdown competitors into minnows, fish and sharks so you can clearly see who you are up against</li>
        </ul>
      </div>
    </div>
  </div>
</section>
