<section class="sectionHedin">
  <div class="container ">
    <div class="common-loader" *ngIf="isLoading">
      <md-progress-spinner mode="indeterminate" color="accent" style="width: 50px;height: 50px"></md-progress-spinner>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidePad">
        <div class="lineupHedin">
          <h1>News</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="newsSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="dTabs">
          <!-- Nav tabs -->
          <rp-tab-view [tabs]="newsTabs"
                       [activeTab]="activeTab"
                       (tabChanged)="onNewsTabChanged($event)"></rp-tab-view>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="NFL">

              <div class="dTabs dTabsInner">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a (click)="onNewsPriorityChanged(PRIORITY_ALL)"
                       role="tab"
                       data-toggle="tab"
                       aria-controls="All">All
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#Urgent"
                       (click)="onNewsPriorityChanged(PRIORITY_URGENT)"
                       role="tab"
                       data-toggle="tab"
                       aria-controls="Urgent">Urgent
                    </a>
                  </li>
                  <li role="presentation">
                    <a (click)="onNewsPriorityChanged(PRIORITY_IMPORTANT)"
                       href="#Important"
                       aria-controls="Important"
                       role="tab"
                       data-toggle="tab">Important</a>
                  </li>
                  <li role="presentation">
                    <a (click)="onNewsPriorityChanged(PRIORITY_NOTE_WORTHY)"
                       href="#Noteworthy"
                       aria-controls="Noteworthy"
                       role="tab"
                       data-toggle="tab">Noteworthy</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active">
                    <div class="no-news-msg" *ngIf="!newsRecords || !newsRecords.length">No news available !!</div>
                    <div class="newsItmWrap">
                      <div class="newsItm" *ngFor="let news of newsRecords | paginate: {
                                                      itemsPerPage: 10,
                                                      currentPage: currentPage}">
                        <div class="newsItmTp">
                          <div class="newsItmNameWrap">
                            <div class="newsItmName">
                              <span class="newsImg">
                                <img [attr.src]="news?.player?.player_image" alt=""
                                     style="width: 70px;height: 70px"
                                     class="img-responsive"/></span>
                              <span class="newsName"><a href="javascript:void(0)">{{news?.player?.player_first_name}} {{news?.player?.player_last_name}}</a></span>
                            </div>
                            <div class="newsItmDate">
                              <p>{{news?.news_date_time | date : 'MMM dd, yyyy h:m a'}}</p>
                            </div>
                          </div>
                          <div class="newsWrap">
                            <h2><a>{{news?.news_headline}}</a></h2>
                            <p style="text-align: justify">{{news?.news_notes}}</p>
                            <h5 *ngIf="news.news_analysis">Analysis</h5>
                            <p *ngIf="news.news_analysis" style="text-align: justify">{{news?.news_analysis}}</p>
                            <!--<i class="newsReprtr">As reported by RotoGrinders Player Projections</i>-->
                          </div>
                        </div>
                        <!--<div class="newsItmBtm">
                          <div class="newsItmBtmLft">
                            <div class="newsItmBtmLft1">
                              <span class="icnWrapperS"><img src="../../../../assets/images/news_icn1.png" alt=""
                                                             class="img-responsive"/></span><span class="txtWrapper">86.14 Proj</span>
                            </div>
                            <div class="newsItmBtmLft2">
                              <span class="txtWrapper">10.90 pt/$</span>
                            </div>
                            <div class="newsItmBtmLft3">
                              <div class="">
                                <span class="txtWrapper">$7,900</span>
                              </div>
                              <div class="">
                                <span class="icnWrapperS"><img src="../../../../assets/images/contests_icn1.png" alt=""
                                                               class="img-responsive"/></span><span class="txtWrapper">93.72 Proj</span>
                              </div>
                            </div>
                            <div class="newsItmBtmLft4">
                              <span class="txtWrapper">13.58 pt/$</span>
                            </div>
                            <div class="newsItmBtmLft5">
                              <span class="txtWrapper">$6,900</span>
                            </div>
                          </div>
                          <div class="newsItmBtmRght">
                            <span class="icnWrapperS"><img src="../../../../assets/images/news_icn2.png" alt=""
                                                           class="img-responsive"/></span><span class="txtWrapper">pga general-strategy</span>
                          </div>
                        </div>-->
                      </div>
                    </div>

                    <div class="pagination">
                      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                      <!--<ul>
                        <li><a href="javascript:void(0)"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">...</a></li>
                        <li><a href="javascript:void(0)">29</a></li>
                        <li><a href="javascript:void(0)">30</a></li>
                        <li><a href="javascript:void(0)"><span aria-hidden="true">&raquo;</span></a></li>
                      </ul>-->
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
