<section class="sectionHedin">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="lineupHedin">
          <h1>Daily Fantasy Sports Glossary</h1>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="glossarySection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h4 class="mainHeadingBlack">A BASIC GLOSSARY GUIDE TO DFS TERMINOLOGY</h4>
        <p>Learn the DFS Lingo and converse with the Pros on RotoPros</p>
        <p class="smlP"><strong>Members Only Slack Channel</strong> (Paid Members Only)</p>

        <!-- <div class="glossaryPWrap">
          <p><strong>50/50</strong> - A type of daily fantasy contest where the top 50% of the total entrants are all paid out the same exact amount. A 1$ entry you would get 1.80$ in return. 50/50 is considered a cash game and a very safe game to play.</p>
          <p><strong>Bankroll</strong> -  The term refers to the amount of money you have on the site in your player account to play daily fantasy with. It is also used to refer to the amount of money you have allocated to play one particular slate with. Ex: My bankroll for tonights slate is 20$.</p>

          <p><strong>Buy-in(s)</strong> - The amount of your bankroll that is required to enter any one particular contest. This is also referred to as the entry fee.</p>

          <p><strong>Cashing or cashed</strong> - To win or be winning money in a particular dfs contest or slate of games. Ex: My lineup is cashing in gpp or my lineup cashed in cash games on last nights slate.</p>

          <p><strong>Cash Game</strong> - Is any dfs contest that pays more than 33% of the total entrants up to as many as 50% of the total entrants. Generally thought of as safe contests to enter and include 50/50, h2h, and double ups. These are considered contests are considered the safest and best contests to build your bankroll with as a higher percentage of entrants win.</p>

          <p><strong>Ceiling</strong> - The best possible outcome for a player on a particular slate or statistic. Targeting a players ceiling is an optimal move in Gpp lineup construction.</p>

          <p><strong>Chalk</strong> - A player who is a consensus pick or considered a must start option who a majority of the players have rostered for a particular slate, especially in cash games.</p>

          <p><strong>Contest size</strong> - the number of players in a DFS contest</p>

          <p><strong>DFS</strong> - The abbreviation which stands for daily fantasy sports. DFS is a game were you draft a fantasy team for one day, one weekend or one slate of games using a salary cap format and compete for cash prizes. Once that particular slate ends you start the process all over again on a new slate with a new team.</p>

          <p><strong>Double Up</strong> - A type of cash game were you can double your buy-in by finishing in the top 43% of the total entrants. On a 1$ entry fee you would win 2$ in return. Considered a pretty safe cash game and a contest you can use to build your bankroll.</p>

          <p><strong>Entrant</strong> -  player who has entered a dfs contest</p>

          <p><strong>Entry Fee</strong> - The cost of your entry in a particular dfs contest.</p>

          <p><strong>Fade</strong> - To avoid a certain player, slate, or contest type. This is usually done because you expect a player to be heavily owned, or on a small higher risk slate, or when a certain contest type is a bad proposition for your roi, win rate or for the lineup construction of your lineup. Ex: Gpp lineups in cash games or vice versa.</p>

          <p><strong>Floor</strong> - Baseline term used to describe a minimum expectation for a player based on there fantasy point production or average. High floor players are optimal plays for cash games.</p>

          <p><strong>Free Roll</strong> - Game that cost no money to enter but still has a cash prize if you finish high in the contest.</p>

          <p><strong>Gpp</strong> - this term stands for guaranteed prize pool. They are contests that are guaranteed to still run even if they dont fill. Also referred to as tournaments but most double ups, triple ups, and multiplier contests also have guaranteed prize pools and are guaranteed to run even if they dont fill.</p>

          <p><strong>H2H</strong> - A contest were you play against only one other player. Typically after site fees your return on your 1$ buy-in for winning that h2h is 1.80. H2h are genuinely considered one of the safest cash games as even if you do poorly you still have a chance to cash some of your h2h games against players who did worse than you did.</p>

          <p><strong>Hedge</strong> - An action or strategy used to reduce risk on your money played on a particular slate by playing more than one lineup. Example would be hedging your cash lineup with a second cash lineup with different players.</p>

          <p><strong>Late Swap</strong> -  The ability to swap out one player for another player if both of the players games havent started yet.</p>

          <p><strong>Large field contests</strong> - Contest that has a high number of entrants in it. Can be as high as an unlimited number of entrants.</p>

          <p><strong>League</strong> -   A league is a smaller tournament which is usually 4-100 entrants. These contests are usually user created.</p>

          <p><strong>Multipliers</strong> - A contest that pays a certain multiplier of your buy-in for cashing in it. Examples of these contest are four times multipliers and ten times boosters.</p>

          <p><strong>Prize pool</strong> - The entire sum of money that is up for grabs in a dfs contest. The amount of the total prize pool is usually equal to the total sum of the entrée collected from the entrants minus the site fees taken out by the site.</p>

          <p><strong>Projections</strong> - The anticipated point output for an individual player.</p>

          <p><strong>ROI</strong> - Stands for return on investment. Refers to the percentage or amount of profit you make relative to the amount of money you played.</p>

          <p><strong>Single Entry</strong> -  Any contest were the maximum number of entrants any one player can have is one. Single entry is available and recommended for cash games and gpp tournaments.</p>

          <p><strong>Salary</strong> - amount of your salary cap each individual player will cost to roster in your lineup.</p>

          <p><strong>Three Max entry</strong> -  Any contest were the maximum number of entrees is limited to no more than three per player. Three max is available for cash games and gpp tournaments.</p>

          <p><strong>Tournaments</strong> - A higher risk contest were a smaller percentage of the entrants get paid (between 20-30% of the entrants) but are often have very top heavy payout structures were you can win very large cash prizes. This is not a recommended type of play to build a bankroll.</p>

          <p><strong>Triple ups</strong> - A contest were 33% of the entrants win triple there buy-in. Typically 3$ on a 1$ entry fee.</p>
        </div> -->

        <div class="glossaryPWrap">
          <p><strong>50/50</strong> - A type of daily fantasy contest where the top 50% of the total entrants are all paid out the same exact amount. A $1 entry would pay out $1.80 in return. 50/50 is considered a cash game and a very safe game to play.</p>

          <p><strong>Bankroll</strong> -  This term refers to the amount of money you have on the site in your player account to play daily fantasy with. It is also used to refer to the amount of money you have allocated to play one particular slate with. Ex: My bankroll for tonight’s slate is $20.</p>

          <p><strong>Buy-in(s)</strong> - The amount of your bankroll that is required to enter any one particular contest. This is also referred to as the entry fee.</p>

          <p><strong>Cashing or cashed</strong> - To win or be winning money in a particular DFS contest or slate of games. Ex: My lineup is cashing in the tournament I’m in, or my lineup cashed in cash games on last night’s slate.</p>

          <p><strong>Cash Game</strong> - Any DFS contest that pays more than 33% of the total entrants, and up to as many as 50% of the total entrants. Generally thought of as safe contests to enter and include 50/50, head-to-head, and double ups. These contests are considered the safest and best contests to build your bankroll with as a higher percentage of entrants win.</p>

          <p><strong>Ceiling</strong> - The best possible outcome for a player on a particular slate in regards to the amount of points he will score. Targeting a players ceiling is an optimal move in GPP lineup construction.</p>

          <p><strong>Chalk</strong> - A player who is a consensus pick or considered a must-start option. Usually someone the majority of the sharper players will roster for a particular slate, especially in cash games.</p>

          <!-- <p><strong>Contest size</strong> - the number of players in a DFS contest</p> -->

          <p><strong>DFS</strong> - The abbreviation, which stands for daily fantasy sports. DFS is a game where you draft a fantasy team for one day, one weekend or one slate of games using a salary cap format and compete for cash prizes. Once that particular slate ends you start the process all over again on a new slate with a new team.</p>

          <p><strong>Double Up</strong> - A type of cash game where you can double your buy-in by finishing in the top 43% of the total entrants. On a $1 entry fee you would win $2 in return. Considered a pretty safe cash game and a contest you can use to build your bankroll.</p>

          <p><strong>Entrant</strong> -  Player who has entered a DFS contest.</p>

          <p><strong>Entry Fee</strong> - The cost of your entry in a particular DFS contest.</p>

          <p><strong>Fade</strong> - To avoid a certain player, slate, or contest type. This is usually done due to expected ownership, or on a smaller slate with less variance, or when a certain contest type is a bad proposition for your ROI, win rate or for the lineup construction of your team. Ex: GPP lineups in cash games or vice versa.</p>

          <p><strong>Floor</strong> - Baseline term used to describe a minimum expectation for a player based on their fantasy point production or average. High floor players are optimal plays for cash games.</p>

          <p><strong>Free Roll</strong> - Contest that costs no money to enter, but still has a cash prize if you finish high in the contest.</p>

          <p><strong>GPP</strong> - This term stands for guaranteed prize pool. They are contests that are guaranteed to still run even if they don’t fill. Also referred to as tournaments but most double ups, triple ups, and multiplier contests also have guaranteed prize pools and are guaranteed to run even if they don’t fill.</p>

          <p><strong>H2H (Head-to-head)</strong> - A contest where you play against only one other player. Typically after site fees, your return on your $1 buy-in for winning that H2H is $1.80. H2H is genuinely considered one of the safest cash games, as even if you do poorly you still have a chance to cash some of your H2H games against players who did worse than you did.</p>

          <p><strong>Hedge</strong> - An action or strategy used to reduce risk on your money played on a particular slate by playing more than one lineup. An example would be hedging your cash lineup with a second cash lineup that contained different players so as to cover more options.</p>

          <p><strong>Late Swap</strong> -  The ability to swap out one player for another player if both of the player’s games haven’t started yet.</p>

          <p><strong>Large field contests</strong> - Contest that has a high number of entrants in it. Can be as high as having no limit at all.</p>

          <p><strong>League</strong> -   A league is a smaller tournament, which are usually 4-100 entrants. These contests are usually user created.</p>

          <p><strong>Multipliers</strong> - A contest that pays a certain multiplier of your buy-in for cashing in it. Examples of these contests are four times multipliers and ten times boosters.</p>

          <p><strong>Prize pool</strong> - The entire sum of money that is up for grabs in a DFS contest. The amount of the total prize pool is usually equal to the total sum of the entree collected from the entrants, minus the site fees taken out by DraftKings.</p>

          <p><strong>Projections</strong> - The anticipated point output for an individual player.</p>

          <p><strong>ROI</strong> - Stands for return on investment. Refers to the percentage or amount of profit you make relative to the amount of money you risked.</p>

          <p><strong>Single Entry</strong> -  Any contest where the maximum number of entrants any one player can have is one. Single entry is available and recommended for cash games and GPP tournaments.</p>

          <p><strong>Salary</strong> - Amount of your salary cap each individual player will cost to roster in your lineup.</p>

          <p><strong>Three Max entry</strong> -  Any contest where the maximum number of entrees is limited to no more than three per player. Three-max is available for cash games and GPP tournaments.</p>

          <p><strong>Tournaments</strong> - A higher risk contest where a smaller percentage of the entrants get paid (between 20-30% of the entrants) but often have very top heavy payout structures were you can win very large cash prizes. This is not a recommended type of play to build a bankroll.</p>

          <p><strong>Triple ups</strong> - A contest where 33% of the entrants win triple the amount of the buy-in if they finish in the money.</p>
        </div>


        <div class="glossaryVideoSection">
          <div class="gVidoLft">
            <h4>Getting Started on DraftKings</h4>
            <iframe src="https://www.youtube.com/embed/W_0rEGbJVbE?feature=youtu.be&wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="gVdoRght">
            <h4>Getting Started on FanDuel</h4>
            <iframe src="https://player.vimeo.com/video/188897237?wmode=opaque&api=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
