 <div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border= "0" class="tblFixdTp">
      <tr class="dHedin">
        <th width="20%">Sr. No.</th>
        <th width="60%">Contest</th>
        <th width="20%">Profit/Loss</th>
      </tr>
    </table>
    <div class="tblScrlCntntWrap">
      <table cellpadding="0" cellspacing="0" border= "0" class="tblScrlCntnt">
        <tr *ngFor="let record of winRecords;let index = index">
          <td scope="row">{{index + 1}}</td>
          <td>{{record._id}}</td>
          <td>
            <span *ngIf="(record.net >= 0)" style="color: #4caf50">{{record.net}}</span>
            <span *ngIf="(record.net < 0)" style="color: #ff0000">{{record.net}}</span>
          </td>
        </tr>
      </table>
    </div>


  </div>
