<section class="loginDetails frgtPasswdDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="loginDetailsWrapper">
          <div class="loginLftWrapper">
            <img src="../../../../assets/images/login_lft_img.png" alt="" class="img-responsive"/>
          </div>
          <div class="loginRghtWrapper">
            <div class="formWrapper">
              <h3><span class="licnWrapper"><img src="../../../../assets/images/login_title_icn.png" alt=""
                                                 class="img-responsive"/></span><span>Reset your password</span>
              </h3>
              <p>Enter a new and strong password for your Rotopros account.</p>
              <div #signUpError>
                <div class="alert alert-danger fade in" *ngIf="isError">
                  {{errorMsg}}
                </div>
              </div>
              <form [formGroup]="changePasswordForm">
                <div class="form-group">
                  <label class="srOnly">Password</label>
                  <input type="text" name="pwd" formControlName="password" placeholder="New Password">
                  <div class="alert alert-danger my-alert" *ngIf="changePasswordForm.get('password').errors?.minlength">
                    Too sort password
                  </div>
                  <div class="alert alert-danger my-alert" *ngIf="changePasswordForm.get('password').errors?.maxlength">
                    Too long password
                  </div>
                  <div class="alert alert-danger fade in my-alert"
                       *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors">
                    Password is required field.
                  </div>
                </div>
                <div class="form-group">
                  <label class="srOnly">Confirm Password</label>
                  <input type="text" name="cPwd" formControlName="confirmPassword" placeholder="Enter password again">
                </div>
                <input type="button" value="Submit" class="formBtn"
                       [disabled]="!changePasswordForm.valid"
                       (click)="onBtnSubmitClick()">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
