<section class="loginDetails frgtPasswdDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="loginDetailsWrapper">
          <div class="loginLftWrapper">
            <img src="../../../../assets/images/login_lft_img.png" alt="" class="img-responsive"/>
          </div>
          <div class="loginRghtWrapper">
            <div class="formWrapper">
              <h3><span class="licnWrapper"><img src="../../../../assets/images/login_title_icn.png" alt=""
                                                 class="img-responsive"/></span><span>Reset your password</span>
              </h3>
              <p>Enter your email address and we'll email you a link to reset your password.</p>
              <div #signUpError>
                <div class="alert alert-danger fade in" *ngIf="isError">
                  {{errorMsg}}
                </div>
              </div>
              <h4 *ngIf="isMailSent">A mail with reset link has been sent to you.Please check your email account.</h4>
              <form>
                <div class="form-group">
                  <label class="srOnly">Email</label>
                  <input type="text" name="eId" placeholder="Email" #emailId>
                </div>
                <input type="button" value="Submit" class="formBtn" (click)="onBtnSubmitClick(emailId.value)">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
